@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #0077ff;
  --white-color: #fafafa;
  --green-color: #098171;
  --hover-green-color: #056659;
  --white-green-color: #f8f7ee;
  --brow-color: #333333;
  --orange-color: #ff9306;

  --desktop-breakpoint: 1024;

  --border-radius: 0.625rem;

  --mobile-spacement: 1.25rem;

  --input-height-mobile: 3.5rem;
  --button-width-mobile: 8.75rem;
  --button-height-mobile: 2.5rem;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45% auto;
  row-gap: 2.5rem;
  width: 100%;
  height: 100%;

  .label-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 100%;
    height: 100%;
    background-color: var(--green-color);
    color: var(--white-color);

    h1 {
      font-size: 1.5rem;
      font-family: "Roboto", "sans";
      font-weight: 500;
    }

    i {
      font-size: 3rem;
      margin-bottom: var(--mobile-spacement);
    }
  }

  .form-container {
    width: 100%;
    height: 100%;
    grid-row: 2;

    .title {
      display: none;
    }

    .form-group {
      width: 90%;
      margin: auto;
      margin-bottom: var(--mobile-spacement);

      input {
        width: 100%;
        height: var(--input-height-mobile);
        padding: var(--mobile-spacement);
        border-radius: var(--border-radius);
        background-color: var(--white-green-color);
        border: none;
        outline: none;
        font-family: "Roboto", "sans-serif";
        font-weight: 300;

        &:active {
          border: 2px solid var(--green-color);
        }

        &:focus {
          border: 2px solid var(--green-color);
        }
      }

      button {
        width: var(--button-width-mobile);
        height: var(--button-height-mobile);
        background-color: var(--green-color);
        color: var(--white-color);
        border: none;
        border-radius: 2rem;
        font-family: "Roboto", "sans-serif";
        font-weight: 500;

        &:hover {
          background-color: var(--hover-green-color);
        }

        &:active {
          background-color: var(--hover-green-color);
        }
      }
    }

    .m-auto {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 1.875rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

    .label-start {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-column: 1;
      grid-row: 1;
      background-color: var(--green-color);

      h1 {
        font-size: 1.5rem;
        font-family: "Roboto", "sans-serif";
        font-weight: 500;
      }

      i {
        font-size: 3rem;
        margin-bottom: 1.25rem;
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-row: 1;
      grid-column: 2;

      .title {
        display: block;

        h1 {
          font-size: 1.6rem;
          color: var(--orange-color);
          text-align: center;
          font-family: "Roboto", "sans-serif";
          font-weight: 700;
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}
